.admin-logo {   
    font-weight: 500;
}
.admin-logo span {
    color: rgba(220, 53, 69, 1);
    font-size: 18px;  
}
.admin-main {
    color: rgba(220, 53, 69, 1);
    margin-bottom: 25px;
}
.admin-statistics {
    margin-top: 100px;
}
.button-add-movie-new,
.button-remove-actor-review-for-movie,
.button-remove-movie,
.button-remove-club-member {
    padding: 5px 0;
    margin: 3px 0;
    height: 100%;
}
.table {
    width: 400px;
    margin-top: 1rem;
}
.table td img {
    border-radius: 3px;
}
.table-last-review a {
    color:rgba(220, 53, 69, 1);
}
#posterMovieFromFileHere {
    margin-top: 10px;
}
#buttonDisplayImageFromLink:hover {
   color: #fff;
}
legend {
    color: rgb(255, 174, 0);
}
.actions div {
    color: rgb(108, 117, 125);
}
