/* Large devices (desktops, less than 1200px) */
@media (max-width: 1200px) { 
    .container {
        max-width: 100%!important;
    } 
    .navbar .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .admin-logo {
        font-size: 95%;
    }
    .admin-logo span {
        font-size: 85%;
    }
    .table {
        width: 350px;
    }   
    .admin-add-new-movie form {
        width: 350px;
    } 
    .admin-statistics {
        margin-top: 85px;
    }
    .admin-add-new-movie label {
        font-size: 1.15rem !important;
    }
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .title-movie {
        margin-top: 8rem;
        font-size: 3rem!important;
    }
    .logo {
        font-size: 72%!important;
    }
    .navbar h3 span.badge {
        font-size: 65%!important;
        top: -9px; 
        transform: rotate(16deg);
    }
    .select-movie-header,
    .average-rating-stars-header,
    .some-comments-header {
        font-size: 2rem;
    }
    .stars .stars-review {
        font-size: 0.8rem;
    }
    .average-rating-stars,
    .some-comments {    
        padding-top: 15px;
        padding-bottom: 15px;
    }
    h5.card-title {
        font-size: 1.15rem;
    }
    .stars-review-wrapper span {
        font-size: 0.9rem;
    }
    .cards-comments {
        margin-top: 1rem;
        margin-bottom: 1rem;
    } 
    footer div.container div.row {
        flex-direction: column-reverse;
    }
    footer div.container div.row div,
    footer div.container div.row div ul.social-icons {
        justify-content: center !important;
        text-align: center;
        padding: 2px 0;
        font-size: 14px;
    }    
    .footer-text {
        font-size: 1.1rem;
    }
    .admin-logo {
        font-size: 85%;
    }
    .admin-logo span {
        font-size: 75%;
    }    
    .table {
        width: 300px;
    } 
    .admin-add-new-movie form {
        width: 300px;
    }
    .admin-statistics {
        margin-top: 160px;
    }
    .admin-add-new-movie label {
        font-size: 1.05rem !important;
    }
    .log-out {
        margin: 10px 0 0 0;
    }
    .navbar-collapse {
        text-align: center;
    }
    .admin-statistics {
        margin-top: 85px;
    }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    h5.card-title {
        font-size: 1.05rem;
    }
    .stars-review-wrapper span {
        font-size: 0.8rem;
    }
    .card-text {
        font-size: 0.9rem;
    }
    .text-muted {
        font-size: 0.8rem;
    }
}
